.carouselWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;

  margin-top: auto;
  margin-bottom: auto;
  display: block;

  padding: 2rem 0; /* This prevents the weird cutoff on hover */
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
